<!DOCTYPE html>
<html>
   <head>
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../js/bootstrap-datepicker.js" />
    <link rel="stylesheet" href="../javascripts/bootstrap.min.js"/>
    <link rel="stylesheet" href="../javascripts/jquery.js"/>
      <!-- 引入 Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script src="../javascripts/echarts.min.js"></script> 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script>
        function changeUser(obj){
         var year=$("#select_year").val()
         var user_jing = $("#jing").prop('checked');
         var user_dong = $("#dong").prop('checked');
        window.location.href='/balance/list?&year='+year+"&dong_selected="+user_dong+"&jing_selected="+user_jing;
        }
    </script>
   </head>
   <body>
        <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">首页</a>
                                    </div>
                <div class="navbar-body">
                    <ul class="navbar-brand">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">支出</a>
                            <ul class="dropdown-menu">
                                <li class="navbar-brand"><a href="/paylist/list">看一眼</a></li>
                                <li class="navbar-brand"><a href="/paylist/add">记一笔</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-brand">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">收入<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li class="navbar-brand"><a href="/income/list">看一眼</a></li>
                                <li class="navbar-brand"><a href="/income/add">记一笔</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-brand">
                        <li class="dropdown">
                            <a href="/balance/list" class="dropdown-toggle" data-toggle="">统计<strong class="caret"></strong></a>
                        </li>
                    </ul>
                    <ul class="navbar-brand">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">理财<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li class="navbar-brand"><a href="/finance/list">看一眼</a></li>
                                <li class="navbar-brand"><a href="/finance/add">记一笔</a></li>
                            </ul>
                        </li>
                    </ul>
                               </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <li>
                        <a href="/logout">退出</a>
                    </li>
                    </ul>
                </div>
            </nav>
<div class="col-md-12 column">
    <select id="select_year" class="selectpicker show-tick"  data-width="200px" data-live-search="true" id="select1" onchange="selectOnchang(this)">
        <option value="<%=select_year %>" selected="selected"><%=select_year %></option>
        <% years.forEach(function(year) {%>
        <% if(year!=select_year){%>
        <option value="<%=year %>"><%=year %></option>
        <%}%>
        <% }) %>
        <option value="all">全部</option>
    </select>
    <label> 年 </label>
        <div class="checkbox">
            <label><input type="checkbox" id="dong" value="dong" <% if(selected_dong=="true"){ %> checked="checked"<% }%> onclick="changeUser(this)" />冬</label>
              <label><input type="checkbox" id="jing" name="jing" value="jing" <% if(selected_jing=="true"){ %> checked="checked"<% }%> onclick="changeUser(this)"/>宝</label>
         </div>
    <hr />
    <div class="tabbable" id="tabs-967670">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#display" data-toggle="tab" class='active'>每月数据</a>
            </li>
            <li>
                <a href="#detail" data-toggle="tab">历史累计</a>
            </li>
        </ul>
        </div>
        <div class="tab-content">
        <div class="tab-pane" id="detail" data-toggle="tab">
     <div id="main2" style="width:400px;height:600px;">       
        <script type="text/javascript"> 
            var myChart = echarts.init(document.getElementById('main2'));
            var data = getCountData();
        
       var colors = ['#5793f3', '#d14a61', '#675bba'];
option = {
    color: colors,
    tooltip: {
        trigger: 'none',
        axisPointer: {
            type: 'cross'
        }
    },
    title : {
        text: '收入:'+data.income_total + '  \n支出:' + data.pay_total,
        subtext:'',
        x:'left'
    },
    legend: {
        x:'center',
        data:['收入','支出'] 
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [
        {
            type: 'category',
            axisTick: {
                alignWithLabel: true
            },
            axisLine: {
                onZero: false,
                lineStyle: {
                    color: colors[0]
                }
                 },
            axisPointer: {
                label: {
                    formatter: function (params) {
                        return '收入 '
                            + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                    }
                }
            },
            data: data.mounth
        },
        {
            type: 'category',
            axisTick: {
                alignWithLabel: true
            },
            axisLine: {
                onZero: false,
                lineStyle: {
                    color: colors[1]
                }
            },
            axisPointer: {
                label: {
                    formatter: function (params) {
                        return '支出 '
                            + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                    }
                }
            },
            data: data.mounth
        }
    ],
    yAxis: [
        {
            type: 'value'
                }
    ],
    series: [
        {
            name:'收入',
            type:'line',
            data: data.income_list
        },
        {
            name:'支出',
            type:'line',
            xAxisIndex: 1,
            data: data.paylist_list
        }]
        };

function getCountData() {
    var income= JSON.parse(<%-display_income%>);
    var paylist= JSON.parse(<%-display_paylist%>);
    var out_mounth_list= [];
    var in_mounth_list= [];
    var income_list= [];
    var pay_list= [];
    
    var income_map = new Map();
    income.map(x => {x.time = x.time.substring(0, x.time.lastIndexOf("-"));return x}).forEach(list =>{
        var time = list.time
        if(income_map.has(time)) {
            var value = income_map.get(time) + list.money;
            income_map.set(time, value);
        } else {
            income_map.set(time, list.money);
        }
    });
    var pay_map = new Map()
    paylist.map(x => {x.time = x.time.substring(0, x.time.lastIndexOf("-"));return x}).forEach(function(list){
        var time = list.time
        if(pay_map.has(time)) {
            var value = pay_map.get(time) + list.money;
            pay_map.set(time, value);
        } else {
            pay_map.set(time, list.money);
        }
    });
   
    var income_total=Array.from(income_map.values()).reduce((x,y) => x+y);
    var pay_total = Array.from(pay_map.values()).reduce((x,y) => x + y)
    in_mounth_list = Array.from(income_map.keys()).sort()
    out_mounth_list = Array.from(pay_map.keys()).sort()
    var set = new Set()
    in_mounth_list.forEach(x => {set.add(x)});
    out_mounth_list.forEach(x => {set.add(x)});
    in_mounth_list = Array.from(set).sort();
    out_mounth_list = in_mounth_list;

    function get_in_count(x){
       if(x==0){
           return income_map.has(in_mounth_list[0])? income_map.get(in_mounth_list[0]):0;
       } else {
           var tmp = income_map.has(in_mounth_list[x])? income_map.get(in_mounth_list[x]) : 0;
           return get_in_count(x -1 ) + tmp;
       }
   }

    function get_out_count(x){
        if (x == 0 ) {
            return pay_map.has(in_mounth_list[0]) ? pay_map.get(in_mounth_list[0]) : 0 ;
        } else {
            var tmp = pay_map.has(in_mounth_list[x])? pay_map.get(in_mounth_list[x]) : 0
            return get_out_count(x-1) +tmp 
        }
    }

    for(var i = 0; i<in_mounth_list.length;i++){
        income_list.push(get_in_count(i));
        pay_list.push(get_out_count(i));
        console.log(income_list)
    }
    
    return {
        income_list: income_list,
        paylist_list: pay_list,
        income_total: income_total,
        pay_total: pay_total,
        mounth: in_mounth_list
    }
};
myChart.setOption(option);
        </script>
         </div>
        </div>
        
        <div class="tab-pane active" id="display" data-toggle="tab">
        <div id="main" style="width:400px;height:600px;">
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
var data = genData();
var app = {};
option = null;

var posList = [
    'left', 'right', 'top', 'bottom',
    'inside',
    'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
    'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
];

app.configParameters = {
    rotate: {
        min: -90,
        max: 90
    },
    align: {
        options: {
            left: 'left',
            center: 'center',
            right: 'right'
        }
    },
    verticalAlign: {
        options: {
            top: 'top',
            middle: 'middle',
            bottom: 'bottom'
        }
    },
    position: {
        options: echarts.util.reduce(posList, function (map, pos) {
            map[pos] = pos;
            return map;
        }, {})
    },
    distance: {
        min: 0,
        max: 100
    }
};
app.config = {
    rotate: 90,
    align: 'left',
    verticalAlign: 'middle',
    position: 'insideBottom',
    distance: 15,
    onChange: function () {
        var labelOption = {
            normal: {
                rotate: app.config.rotate,
                align: app.config.align,
                verticalAlign: app.config.verticalAlign,
                position: app.config.position,
                distance: app.config.distance
            }
        };
        myChart.setOption({
            series: [{
                label: labelOption
            }, {
                label: labelOption
            }, {
                label: labelOption
            }, {
                label: labelOption
            }]
        });
    }
};
var labelOption = {
    normal: {
        show: true,
        position: app.config.position,
        distance: app.config.distance,
        align: app.config.align,
        verticalAlign: app.config.verticalAlign,
        rotate: app.config.rotate,
        formatter: '{c}  {name|{a}}',
        fontSize: 16,
        rich: {
            name: {
                textBorderColor: '#fff'
            }
        }
    }
};

option = {
    color: ['#003366', '#e5323e'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        data: ['收入', '支出']
    },
    toolbox: {
        show: true,
        orient: 'vertical',
        left: 'right',
        top: 'center',
        feature: {
            mark: {show: true},
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    calculable: true,
    xAxis: [
        {
            type: 'category',
            axisTick: {show: false},
            data: data.in_mounth
        }
    ],
    yAxis: [
        {
            type: 'value'
        }
    ],
    series: [
        {
            name: '收入',
            type: 'bar',
            barGap: 0,
            label: labelOption,
            data: data.income_list
        },

        {
            name: '支出',
            type: 'bar',
            label: labelOption,
            data: data.pay_list
        }
    ]
};
function decode(text)
{ 
    var temp = document.createElement("div"); 
    temp.innerHTML = text; 
    var output = temp.innerText || temp.textContent; 
    temp = null; 
    return output; 
} 
function genData() {
    var income= JSON.parse(<%-display_income%>);
    var paylist= JSON.parse(<%-display_paylist%>);
    var out_mounth_list= [];
    var in_mounth_list= [];
    var income_list= [];
    var pay_list= [];
    
    var income_map = new Map();
    income.map(x => {x.time = x.time.substring(0, x.time.lastIndexOf("-"));return x}).forEach(list =>{
        var time = list.time
        if(income_map.has(time)) {
            var value = income_map.get(time) + list.money;
            income_map.set(time, value);
        } else {
            income_map.set(time, list.money);
        }
    });
    var pay_map = new Map()
    paylist.map(x => {x.time = x.time.substring(0, x.time.lastIndexOf("-"));return x}).forEach(function(list){
        var time = list.time
        if(pay_map.has(time)) {
            var value = pay_map.get(time) + list.money;
            pay_map.set(time, value);
        } else {
            pay_map.set(time, list.money);
        }
    });
    
    var income_total=Array.from(income_map.values()).reduce((x,y) => x+y);
    var pay_total = Array.from(pay_map.values()).reduce((x,y) => x + y)
    in_mounth_list = Array.from(income_map.keys()).sort()
    out_mounth_list = Array.from(pay_map.keys()).sort()
    
    var set = new Set()
    in_mounth_list.forEach(x => {set.add(x)});
    out_mounth_list.forEach(x => {set.add(x)});
    in_mounth_list = Array.from(set).sort();
    out_mounth_list = in_mounth_list;


    in_mounth_list.forEach( x => {
        if(income_map.has(x)){
            income_list.push(income_map.get(x));
        }else {
            income_list.push(0)
        }
    });

        out_mounth_list.forEach(x => {
            if(pay_map.has(x)){
                pay_list.push(pay_map.get(x));
            } else {
                pay_list.push(0);
            }
        });
    
       return {
        in_mounth: in_mounth_list,
        out_mounth: out_mounth_list,
        pay_list: pay_list,
        income_list: income_list,
        income_total:income_total.toString(),
        pay_total:pay_total.toString()
    };
}
myChart.setOption(option);
</script>
        </div> 
        </div>
        </div>
        </div>
		</div>
        </div>
        </div>
        </div>
            <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="../javascripts/bootstrap.min.js"></script>
  <script src="../javascripts/jquery.js"></script>
    <script>
    function selectOnchang(obj){  
     //获取被选中的option标签选项 
        var year=$("#select_year").val()
        window.location.href='/balance/list?&year='+year
    }

    function selectUser(obj){
        var jing=$("#jing").val()
        var dong=$("#dong").val()
        var mounth = obj.options[obj.selectedIndex].value;
        var year=$("#select_year").val()
        window.location.href='/balance/list?&year='+year+"&dong_selected=true&jing_selected=true";
    };
    </script>
   </body>
</html>
