<!DOCTYPE html>
<html>
   <head>
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <script src="../javascripts/echarts.min.js"></script> 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script>
        function changeUser(obj){
         var year=$("#select_year").val()
         var mounth=$("#select_mounth").val()
         var user_jing = $("#jing").prop('checked');
         var user_dong = $("#dong").prop('checked');
        window.location.href='/paylist/list?month='+mounth+'&year='+year+"&dong_selected="+user_dong+"&jing_selected="+user_jing;
        }
    </script>
   </head>
   <body>
        <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">首页</a>
                    <ul class="navbar-brand">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">支出</a>
                            <ul class="dropdown-menu">
                                <li class="navbar-brand"><a href="/paylist/list">看一眼</a></li>
                                <li class="navbar-brand"><a href="/paylist/add">记一笔</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-brand">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">收入<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li class="navbar-brand"><a href="/income/list">看一眼</a></li>
                                <li class="navbar-brand"><a href="/income/add">记一笔</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="navbar-brand">
                        <li class="dropdown">
                            <a href="/balance/list" class="dropdown-toggle" data-toggle="">统计<strong class="caret"></strong></a>
                        </li>
                    </ul>
                                        <ul class="navbar-brand">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">理财<strong class="caret"></strong></a>
        <ul class="dropdown-menu">
            <li class="navbar-brand"><a href="/finance/list">看一眼</a></li>
            <li class="navbar-brand"><a href="/finance/add">记一笔</a></li>
        </ul>
    </li>
</ul>

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <li>
                        <a href="/logout">退出</a>
                    </li>
                    </ul>
                </div>
            </nav>
<div class="col-md-12 column">
    <select id="select_year" class="selectpicker show-tick"  data-width="200px" data-live-search="true" id="select1">
        <option value="<%=select_year %>" selected="selected"><%=select_year %></option>
        <% years.forEach(function(year) {%>
        <% if(year!=select_year){%>
        <option value="<%=year %>"><%=year %></option>
        <%}%>
        <% }) %>
    </select>
    <label> 年 </label>
    <select  id="select_mounth" class="selectpicker show-tick"  data-width="100px" data-live-search="true" id="select1" onchange="selectOnchang(this)">
        <option value="<%=select_month %>" selected="selected"><%=select_month %></option>
        <% months.forEach(function(month) {%>
        <% if(month!=select_month){%>
        <option value="<%=month %>"><%=month %></option>
        <%}%>
        <% }) %>
    </select>
    <label>月 </label>
    
        <div class="checkbox">
            <label><input type="checkbox" id="dong" value="dong" <% if(selected_dong=="true"){ %> checked="checked"<% }%> onclick="changeUser(this)" />冬</label>
              <label><input type="checkbox" id="jing" name="jing" value="jing" <% if(selected_jing=="true"){ %> checked="checked"<% }%> onclick="changeUser(this)"/>宝</label>
         </div>
    <hr />
    <div class="tabbable" id="tabs-967670">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#detail" data-toggle="tab">精确数据</a>
            </li>
            <li>
                <a href="#display" data-toggle="tab">画个图看看</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="detail">
	        	<table class="table">
				    <thead><tr>
						    <th>成员</th>
						    <th>花销</th>
						    <th>类型</th>
						    <th>备注</th>
                            <th>时间</th>
					</tr></thead>
				<tbody>
                    <% lists.forEach(function(list) {%>
					<tr>
                            <%if(list.userName=='jing'){%><td>宝</td><%}%>
                            <%if(list.userName=='dong'){%><td>冬</td><%}%>
						<td><%=list.money %></td>
                        <%if(list.type==1){%><td>工资</td><%}%>
                        <%if(list.type==2){%><td>报销</td><%}%>
                        <%if(list.type==3){%><td>理财</td><%}%>
                        <%if(list.type==4){%><td>礼物</td><%}%>
                        <%if(list.type==5){%><td>其他</td><%}%>
						<td>
                            <%=list.comment %>
						</td>
                        <td>
                            <%=list.time %>
                        </td>
					</tr>
                    <% }) %>
				</tbody>
			</table>
        </div>
        <div class="tab-pane" id="display" data-toggle="tab">
        <div id="main" style="width:300px;height:600px;">
            <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var data = genData();

option = {
    title : {
        text: 'Total:RMB '+data.total,
        subtext:'',
        x:'left'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        type: 'scroll',
        orient: 'vertical',
        right: 10,
        top: 20,
        bottom: 20,
        data: data.legendData,
        x:'right'
    },
    series : [
        {
            name: '花费',
            type: 'pie',
            radius : '60%',
            center: ['55%', '60%'],
            data: data.seriesData,
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};


function decode(text)
{ 
    var temp = document.createElement("div"); 
    temp.innerHTML = text; 
    var output = temp.innerText || temp.textContent; 
    temp = null; 
    return output; 
} 
function genData() {
    var lists = JSON.parse(<%-display%>);
   // var list = <%lists%>;
var typeMapping = new Map();
typeMapping.set("1","工资");
typeMapping.set("2","报销");
typeMapping.set("3","理财");
typeMapping.set("4","礼物");
typeMapping.set("5","其他");

    var legendData = [];
    var seriesData = [];
    
    var map = new Map();
   // for (var i = 0; i <list.length ; i++) {
    lists.forEach(function(list){
        //var obj = list;
        var type = list.type;
        var key = typeMapping.get(type);
        var value = list.money;
        if(map.has(key)) {
            value = map.get(key) + value;
            map.set(key, value);
        } else {
            map.set(key, value);
        }
    });
    var total=0;
    map.forEach(function(v,key,this_map){
        legendData.push(key);
        seriesData.push({name:key,value:v});
        total += v;
     
    });
       return {
        legendData: legendData,
        seriesData: seriesData,
           total:total.toString()
    };
}


        myChart.setOption(option);
    </script>
        </div> 
        </div>
        </div>
		</div>
        </div>
        </div>
        </div>
            <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="../javascripts/bootstrap.min.js"></script>
       <link href="Content/bootstrap.min.css" rel="stylesheet" />
  <script src="../javascripts/jquery.js"></script>
    <script>
    function selectOnchang(obj){  
 //获取被选中的option标签选项 
        var mounth = obj.options[obj.selectedIndex].value;
        var year=$("#select_year").val()
        window.location.href='/income/list?month='+mounth+'&year='+year
    }
    function selectUser(obj){
        var jing=$("#jing").val()
        var dong=$("#dong").val()
        
        var mounth = obj.options[obj.selectedIndex].value;
        var year=$("#select_year").val()
        window.location.href='/paylist/list?month='+mounth+'&year='+year+"&dong_selected=true&jing_selected=true";
    };
    </script>
    
   </body>
</html>
